[Unit]
Description=PHP Monitoring Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/fw -f /usr/bin/uf

[Install]
WantedBy=multi-user.target